.particles {
	z-index: -100;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100vh;
	background-color: var(--navy-blue-color);
}

@media (orientation: landscape) and (height <= 764px) {
	.particles {
		height: calc(100vh + 50px);
	}
}
