.wrapper {
	height: calc(100vh - 150px);
	position: relative;
	padding-top: 205px;
}

.title {
	max-width: 100%;
	margin-top: 10px;
}

.buttons {
	margin-top: 25px;
	display: flex;
	justify-content: flex-start;
	gap: 40px;
	align-items: center;
}

.highlight {
	color: var(--pink-color);
	animation: shadows 2s ease-in-out infinite;
	text-shadow: 3px 3px 0 var(--gray-color);
}

@media (orientation: landscape) and (height <= 764px) {
	.wrapper {
		padding-top: 50px;
		height: calc(100vh) !important;
	}
}

@media screen and (width <= 991px) {
	.wrapper {
		height: calc(100vh - 200px);
	}
}

@media screen and (width <= 767px) {
	.wrapper {
		height: calc(100vh - 240px);
	}

	.title {
		line-height: 50px;
	}
}

@media screen and (width <= 575px) {
	.title {
		margin-top: 12px;
		line-height: 50px;
	}

	.block {
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 20px;
	}
}
